html
  head
    title=play-pause-buttom
  body
    if play
      form(action="/pause" method="get")
        input(type="submit" value="pause")
    else
      form(action="/play" method="get")
        input(type="submit" value="play")